@page "/segments"
@rendermode InteractiveServer
@using Microsoft.FluentUI.AspNetCore.Components
@using Segmentation.DomainModels

@inject SegmentsApiClient SegmentsApiClient

<PageTitle>Segments</PageTitle>

<h1>Segments</h1>

@if (segments == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <FluentStack>
        <FluentListbox Width="300px" Height="900px" TOption="string" ValueChanged="@(OnValueChange)">
            @foreach (var segment in segments)
            {
                <FluentOption Value="@segment.Id.ToString()">@(segment.Name)</FluentOption>
            }
        </FluentListbox>

        <FluentStack Orientation="Orientation.Vertical">

            <p>Id</p>
            <FluentTextField Width="300px" Disabled="true" @bind-Value=id AriaLabel="No label"></FluentTextField>

            <p>Name</p>
            <FluentTextField Width="300px" @bind-Value=name AriaLabel="No label"></FluentTextField>

            <p>Expression</p>
            <FluentTextArea Width="300px" @bind-Value=expression Rows="12"></FluentTextArea>
            <FluentStack>
                <FluentButton Appearance="Appearance.Accent" OnClick="@OnSaveClick" >Save</FluentButton>
                <FluentButton Appearance="Appearance.Accent" OnClick="@OnNewClick" >New</FluentButton>
            </FluentStack>
        </FluentStack>
    </FluentStack>
}

@code {
    string? expression = string.Empty;
    string? name = string.Empty;
    string? id = string.Empty;
    IEnumerable<Segment>? segments = null;

    private void OnValueChange(string e)
    {
        id = e;
        var segment = segments?.FirstOrDefault(x => x.Id.ToString() == e);
        expression = segment?.Expression;
        name = segment?.Name;
    }
    
    private async Task OnNewClick()
    {
        id = string.Empty;
        expression = string.Empty;
        name = string.Empty;
    }
    
    private async Task OnSaveClick()
    {
        Guid localId = Guid.Empty;
        Guid.TryParse(id, out localId);

        var segment = new Segment
        {
            Id = localId,
            Name = name,
            Expression = expression
        };
        if (localId != Guid.Empty)
        {
            await SegmentsApiClient.Update(segment, CancellationToken.None);
        }
        else
        {
            await SegmentsApiClient.Create(segment, CancellationToken.None);

        }
        await Reload();
    }

    protected override async Task OnInitializedAsync()
    {
        await Reload();
    }

    private async Task Reload()
    {
        segments = await SegmentsApiClient.GetSegmentPage(CancellationToken.None);
    }
}
